{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}
   {# <div class="hi" {{ react_component('aslan', { 'fullName': 'vigourove' }) }}></div>
   <div  {{ react_component('form')}}></div> #}


   

{% endblock %}
