{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="wrapper">
			<div class="accueil_main">
				<div class="accueil_main_content container">
					<div class="accueil_main_left">
						<img class="main_left_img" src="">
						
						<p class="main_left_p">
							Lorem ipsum Lorem ipsum Lorem ipsum
							Lorem ipsum Lorem ipsum Lorem ipsum
							Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsumLoremLorem ipsum Lorem ipsum Lorem
						</p>
						
						<a class="main_left_link" href="#">Je fais un don</a>
					</div>
					
					<div class="accueil_main_right">
						<div class="main_right_img_container">
							<img class="main_right_img" src="group.jpg">
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="accueil_actualites">
				<div class="accueil_actualites_content container">
					<h1 class="accueil_actualites_h">Dernières actualités</h1>
					
					<div class="accueil_actualites_list_container">
						<img class="accueil_actualites_arrow_left" src="left-arrow.png">
						
						<div class="accueil_actualites_list">
							<div class="accueil_actualites_item">
								<div class="accueil_actualites_img_container">
									<img class="accueil_actualites_img" src="">
								</div>
								
								<p class="accueil_actualites_p">
									111111 1111 111 11111 1111 11 11111 111111 11 11111
									1111 1111111 11111111 1111111 11 111111 1111111
									1111 111111 111 1111111 1111 11111 11111111
									111 11111 11 111 1111 1111
								</p>
							</div>
							
							<div class="accueil_actualites_item">
								<div class="accueil_actualites_img_container">
									<img class="accueil_actualites_img" src="">
								</div>
								
								<p class="accueil_actualites_p">
									222 22222 222 222222 2222222222 222222222
									222 2222 2222222222 222222222 22
									22222222222 222222 22222 2222 2222222
									222222 22222222222
								</p>
							</div>
							
							<div class="accueil_actualites_item">
								<div class="accueil_actualites_img_container">
									<img class="accueil_actualites_img" src="">
								</div>
								
								<p class="accueil_actualites_p">
									333333333 3333333 33333 33333 333 333333333
									3
									3 33333333 333333 333333 333 3333333
									33 333333 333333333
								</p>
							</div>
							
							<div class="accueil_actualites_item">
								<div class="accueil_actualites_img_container">
									<img class="accueil_actualites_img" src="">
								</div>
								
								<p class="accueil_actualites_p">
									444 44444444 44 44444444 44
									44444 44444444444444 444444
									4444 4444444 44 444444444
									44444444 44444 444 4444444
									4444 444444 44444 44444444444
									44444444 444444444 44444444 444444444
									44444 44444 44444444 44444444444
									4444444 444444 4444 444444
									44 44444 444444 444444 4444444444
								</p>
							</div>

							<div class="accueil_actualites_item">
								<div class="accueil_actualites_img_container">
									<img class="accueil_actualites_img" src="">
								</div>
								
								<p class="accueil_actualites_p">
									5555555555 555555 555555 555 55555
									5 555 55555 555555 55555555555
									55555555 5555 5555 55555
								</p> 
							</div>

							<div class="accueil_actualites_item">
								<div class="accueil_actualites_img_container">
									<img class="accueil_actualites_img" src="">
								</div>
								
								<p class="accueil_actualites_p">
									66 66666 666666 666666 6666 66666666666
									 666 666666 66666666 6666666666666
									66666666 66666666 6666 6666666
									6 66 66666666  6666666666
									6666666 666666666 66
									66 66666 666 666666
									66 66 666666 6666 666 66666 6666 666666 66
								</p>
							</div>
						</div>
						
						<img class="accueil_actualites_arrow_right" src="right-arrow.png">
					</div>
					
					<a class="accueil_actualites_link" href="#">En savoir plus</a>
				</div>
			</div>
			
			
			
			<div class="accueil_dons_types">
				<div class="accueil_dons_types_content container">
					<h1 class="accueil_section_h">3 types de dons :</h1>
					
					<p class="accueil_dons_types_p">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
					
					<div class="accueil_dons_types_list">
						<div class="accueil_dons_types_item">
							<p class="dons_types_title">Produits alimentaires</p>
							
							<div class="dons_types_list">
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
							</div>
						</div>
						
						<div class="accueil_dons_types_item">
							<p class="dons_types_title">Produits hygiène</p>
							
							<div class="dons_types_list">
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
							</div>
						</div>
						
						<div class="accueil_dons_types_item">
							<p class="dons_types_title">Fournitures scolaires</p>
							
							<div class="dons_types_list">
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
								<p class="dons_types_item">type</p>
							</div>
						</div>
					</div>
					
					<a class="accueil_dons_types_link" href="#">En savoir plus</a>
				</div>
			</div>

			<div class="accueil_confiance">
				<div class="accueil_confiance_content container">
					<h1 class="accueil_section_h">Ils nous ont fais confiance</h1>
										
					<div class="accueil_confiances_list">
						<div class="accueil_confiance_item">
							<p class="confiance_commentaire">
								Lorem ipsum Lorem ipsum Lorem ipsum Lorem Lorem ipsum 
								Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
								ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
							</p>
							
							<p class="confiance_title">Crous Créteil</p>
						</div>
						
						<div class="accueil_confiance_item">
							<p class="confiance_commentaire">
								Lorem ipsum Lorem Lorem ipsum 
								Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
								ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
							</p>
							
							<p class="confiance_title">Campus de Bobigny</p>
						</div>
					</div>
					
					<div class="rounded_buttons">
						<div class="rounded_btn rounded_btn_active"></div>
						<div class="rounded_btn"></div>
					</div>
				</div>
			</div>
		
	</div>


{% endblock %}
