{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
<div class="container">
    <h2>Liste des evenements</h2>
    
    <div>
        {% for evenement in evenements %}
            <div style="margin-top:10px; padding:5px 10px; border:1px #e1e1e1 solid; border-radius:10px;">
                <a href={{path('app_evenement', {'id':evenement.id})}}><h5>{{evenement.getNom()}}</h5></a>
                <p>{{evenement.getDetailLieu()}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
