<div class="jumbotron">
  <h1 class="display-4">Bonjour</h1>
  <p class="lead">Votre message a bien été envoyé, notre équipe vous répondera dans le plus  bref délais </p>
  <hr class="my-4">
  <h3>A bientot !</h3>
  <p class="lead">
    <a class="btn btn-warning btn-lg" href="{{path('app_contact')}}" role="button">Retour</a>
  </p>
</div>